
body {
    font-family: roboto;
    margin: 0px;
    overflow: hidden;
  }
  
  line {
    stroke:#90c8e2;
    stroke-width: 2;
}
  
  rect {
      fill:#ca567d;
  }
  
  /* text {
      font-size:1em;
      color: white
  } */
  
  .tick line {
    stroke-width: .1px;
  } 