body {
  font-family: roboto;
  margin: 0;
  padding: 0;
  background:white;
  /* overflow: hidden; */
  /* background: radial-gradient(circle, rgba(78, 82, 88, 1) 0%, rgba(22, 31, 41, 1) 100%); */

}

line {
  stroke: #90c8e2;
  stroke-width: 2;
}


.tick line {
  stroke-width: .1px;
}

h1,h2 {
  text-align: center;
  color: #e94e55;
}
h1{
  position: relative;
  display: block;
  transform: rotate(-90deg);
  left: -19em;
  top: 11em;
  opacity:.4;
}
h2{
  position: relative;
  top: -2em;

}
p{
  text-align: center;
  margin-bottom: -10em;
  position: relative;
  top: -3em;
}

a{
  color: white;
  text-decoration:none;
  background:#e94e55;;
  padding: .3em;
  border-radius: .2em;
  position: relative;
  left:30em;
  top: 8em;
  /* display: block; */
}

.intro,
.guess,
.guess-results {
  height: 100vh;
  text-align: center;
  position: relative;
  display: block;
  align-content: center;
  opacity: .3;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 5.8em;
  height: 4em;
  padding: .2em;
  font-size: .7em;
  background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);  
  border-radius: .14em;
  pointer-events: none;
  color: #320D6D;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  
}

hr {
  border: dashed .05em white
}
svg{
  position: relative;
  display: block;
  margin: 0 auto;
  align-content: center;
  top: 10em;
  background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);  
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  padding:1em;

}

form{
  opacity: 0;
}

select{
  width: 14em;
  height: 3em;
  display: block;
  position: relative;
  top: -41em;
  text-align: center;
  left: 63em;
  font-weight: 900;
  color: #de6363;
  background: white;
}
