body {
  font-family: roboto;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background: radial-gradient(circle, rgba(78, 82, 88, 1) 0%, rgba(22, 31, 41, 1) 100%);

}

line {
  stroke: #90c8e2;
  stroke-width: 2;
}


.tick line {
  stroke-width: .1px;
}

h1 {
  text-align: center;
  color: white;
}

.intro,
.guess,
.guess-results {
  height: 100vh;
  text-align: center;
  position: relative;
  display: block;
  align-content: center;
  opacity: .3;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 5em;
  height: 2.5em;
  padding: .2em;
  font: .7em Roboto;
  background: lightsteelblue;
  border-radius: .1em;
  pointer-events: none;
}